 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/v1-1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 103px 44px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 775px;
  margin: 349px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 725px;
}

.u-section-2 .u-text-1 {
  margin: 60px 71px 0;
}

.u-section-2 .u-line-1 {
  width: 114px;
  height: 3px;
  transform-origin: right center;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 72px 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 42px auto 42px 0;
}

.u-section-2 .u-image-1 {
  min-height: 450px;
  background-image: url("images/v1-1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  font-size: 1rem;
  padding: 30px 10px;
}

.u-section-2 .u-group-1 {
  min-height: 52px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 20px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-image-2 {
  min-height: 450px;
  background-image: url("images/techmania-1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-2 .u-group-2 {
  min-height: 52px;
  margin-top: 237px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 20px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-image-3 {
  min-height: 450px;
  background-image: url("images/talent.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-2 .u-group-3 {
  min-height: 52px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 20px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-image-4 {
  min-height: 450px;
  background-image: url("images/v2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 10px;
}

.u-section-2 .u-group-4 {
  min-height: 52px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px 20px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 371px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    min-height: 371px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-image-3 {
    min-height: 371px;
  }

  .u-section-2 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    min-height: 371px;
  }

  .u-section-2 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-2 .u-image-1 {
    min-height: 568px;
  }

  .u-section-2 .u-image-2 {
    min-height: 568px;
  }

  .u-section-2 .u-image-3 {
    min-height: 568px;
  }

  .u-section-2 .u-image-4 {
    min-height: 568px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-2 .u-image-1 {
    min-height: 852px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 852px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 852px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 852px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-2 .u-image-1 {
    min-height: 536px;
  }

  .u-section-2 .u-image-2 {
    min-height: 536px;
  }

  .u-section-2 .u-image-3 {
    min-height: 536px;
  }

  .u-section-2 .u-image-4 {
    min-height: 536px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 638px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px 72px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 42px auto 60px 0;
}

.u-section-3 .u-image-1 {
  min-height: 450px;
  background-image: url("images/embajadorasawscloud.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  font-size: 1rem;
  padding: 30px 10px;
}

.u-section-3 .u-group-1 {
  min-height: 52px;
  margin-top: 59px;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 20px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-3 .u-image-2 {
  min-height: 450px;
  background-image: url("images/googlewtm.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-3 .u-group-2 {
  min-height: 52px;
  margin-top: 288px;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 20px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-3 .u-image-3 {
  min-height: 450px;
  background-image: url("images/dataday.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-3 .u-group-3 {
  min-height: 52px;
  margin-top: 192px;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px 20px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-3 .u-image-4 {
  min-height: 450px;
  background-image: url("images/color.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 10px;
}

.u-section-3 .u-group-4 {
  min-height: 52px;
  margin-top: 288px;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px 20px;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-3 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 371px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-image-2 {
    min-height: 371px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-image-3 {
    min-height: 371px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-image-4 {
    min-height: 371px;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-3 .u-image-1 {
    min-height: 568px;
  }

  .u-section-3 .u-image-2 {
    min-height: 568px;
  }

  .u-section-3 .u-image-3 {
    min-height: 568px;
  }

  .u-section-3 .u-image-4 {
    min-height: 568px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-3 .u-image-1 {
    min-height: 852px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 852px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 852px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 852px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-3 .u-image-1 {
    min-height: 536px;
  }

  .u-section-3 .u-image-2 {
    min-height: 536px;
  }

  .u-section-3 .u-image-3 {
    min-height: 536px;
  }

  .u-section-3 .u-image-4 {
    min-height: 536px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  min-height: 400px;
}

.u-section-4 .u-image-1 {
  min-height: 400px;
  background-image: url("images/PerfilAquiles.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 92px auto 0 9px;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 9px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 260px;
  }

  .u-section-4 .u-image-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-4 .u-image-1 {
    min-height: 253px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 387px;
  }

  .u-section-4 .u-image-1 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 246px;
  }

  .u-section-4 .u-image-1 {
    min-height: 239px;
  }
}